@{
	ViewData["Title"] = "AboutUs";
}


<style>
	.ph {
		display: flex;
		justify-content: space-between;

		margin-bottom: 2%;
	}
	.tx{
		font-size: 20px; /* По-голям размер за абзаци */
		font-weight: 500; /* Нормално тегло на шрифта */
		font-family: 'Times New Roman', Times, serif;
	}
</style>
<h1>За нас</h1>

<div class="tx">
	<p>
		Добре дошли в Литературен Лабиринт – едно специално място, където думите оживяват, а книгите се превръщат в компаси към нови светове. При нас всяка книга е път, всяка страница – врата,
		а всяка история – шанс да се изгубиш, за да се намериш отново.
	</p>
	<p>
		Тази книжарница се роди от мечта. Мечта за пространство, в което любовта към литературата не е просто хоби, а начин на живот. 
		Където тишината между редовете говори, а срещите между читатели и книги са неслучайни – а вълшебни. Вярваме, че добрата книга идва при теб точно тогава, 
		когато имаш нужда от нея. Затова създадохме място, в което тази магия може да се случва отново и отново.
	</p>
	<p>
		Ние сме малък, сплотен екип от хора, които живеят чрез думите. Не просто четем – препрочитаме, търсим, споделяме, обсъждаме.
		Всеки от нас вярва в силата на историите да лекуват, да вдъхновяват, да променят.
		Именно затова селекцията в Литературен Лабиринт не следва сляпо модата – тя е внимателно подбрана,
		с мисъл за читателя, който търси не просто следващото заглавие, а следващото преживяване.
	</p>
	<p>
		Но Литературен Лабиринт е нещо повече от книжарница. Това е място за срещи – с автори, с други читатели, с идеи и със самите себе си. 
		Провеждаме литературни вечери, дискусии, работилници и читателски клубове, защото вярваме, че най-хубавите книги се изживяват заедно.
	</p>
</div>
<div class="ph">
<div><img src="~/Photos/aboutUs1.jpg" width="300" height="300" /></div>
<div><img src="~/Photos/aboutUs2.png" width="300" /></div>
<div><img src="~/Photos/aboutUs3.png" width="300" /></div>
<div><img src="~/Photos/aboutUs4.png" width="300" /></div>
</div>

@* <div class="tx">
	<p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:x-large; text-align:center;">
		Благодарим ви, че избрахте да се изгубите в нашия Лабиринт.
		Надяваме се, че ще намерите тук не само своята следваща любима книга, но и усещането, че принадлежите към едно по-спокойно, 
		по-истинско и по-смислено място.
	</p>
</div> *@