
@{
    ViewData["Title"] = "Begin";
}

<h1 id="beginPage"><b>Най-продавани</b></h1>
<hr class="center-dark-line" />
<div class="list-photo">
    <div>
        <ul id="list1">
        
            <li>Пленяването на Аделайн - книга 2</li>
        <br />
            <li>Конклав - Нощта на Огъня </li>
            <br />
            <li> Рана</li>
            <br />
            <li> Моята мрачна страст</li>
            <br />
            <li> Твоя вина</li>
            <br />
            <li>Пътища от огън - мека корица</li>
            <br />
            <li>Безмилостен принц</li>
            <br />
            <li>Авитохол и небесният народ - Дългият път на древните българи</li>
            <br />
            <li>ГУНДИ - какъвто не го познавате</li>
            <br />
            <li>Историкът</li>

        </ul>
    </div>
    <div id="imgSpace">
        <img src="~/Photos/bestseller.jpg" width="500"/>
    </div>
</div>
