

@{
    ViewData["Title"] = "Home Page";
}

<div id="up">
    <div class="gallery">
		<div class="gallery-item"><img src="~/Photos/galery1.jpg"/></div>
        <div class="gallery-item"><img src="~/Photos/galery4.jpg"></div>
        <div class="gallery-item"><img src="~/Photos/galery2.jpg"></div>
        <div class="gallery-item"><img src="~/Photos/galery3.jpg"></div>
        <div class="gallery-item"><img src="~/Photos/galery5.jpg" ></div>
    </div>
  
	<hr/>
</div>
<div class="info">
    <div class="box">
        <div>
          <img src="~/Photos/delivery.png" width="70" height="70" />
        </div>
        <div class="txt">
            <p>
                Безплатна доставка
            </p>
            <p class="coment">
                За поръчки над 50лв.
            </p>
        </div>
    </div>
    <div class="box">
        <div>
            <img src="~/Photos/coins.png" width="70" height="70" />
        </div>
        <div class="txt">
            <p>За клиента</p>
            <p class="coment">
                Общи условия
            </p>
        </div>
    </div>
    <div class="box">
        <div>
            <img src="~/Photos/userCard.png" width="70" height="70" />
        </div>
        <div class="txt">
            <p>

                Карти за лоялни клиенти
            </p>
            <p class="coment">
                Специална грижа за нашите клиенти
            </p>
        </div>
    </div>
    <div class="box">
        <div>
            <img src="~/Photos/stopWatch1.png" width="70" height="70" />
        </div>
        <div class="txt">
            <p>
                Огромен каталог от промо продукти
            </p>
            <p class="coment">
                За да имате възможно най-голям избор
            </p>
        </div>
    </div>
</div>
<br />
<div id="welcome">
    <p>
        Добре дошли в уебсайта на "Литературен лабиринт"!
        <br />
        Тук ще откриете удобна платформа за търсене и покупка на книги, която съчетава стилен дизайн с лесна навигация.

    </p>
</div>