
@{
    ViewData["Title"] = "Map";
}

<h1>Карта</h1>
<hr class="small-darker-line" />
<br />
<div id="map">
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1218026.5736352312!2d25.4858!3d42.7339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sbg!2sbg!4v1696499187085!5m2!1sbg!2sbg"
                allowfullscreen=""
                loading="lazy">
        </iframe>
    </div>
    <div id="map-text">
        <p>
            <b>
                Книжарница "Литературен Лабиринт"
                <br /> Център
            </b>
            <br />
            ул. „Иван Вазов“ №12
            <br />
            4330 Сопот
            <br />
            обл. Пловдив
        </p>
        <p>

            <b>Книжарница "Литературен Лабиринт"</b>
            <br />
            ул. „Васил Левски“ №1
            <br />
            гр. Сопот, 4330
            <br />
            област Пловдив
        </p>
        <p>

            <b>Kнижарница "Литературен Лабиринт"</b>
            <br />
            пл. „20-ти юли“ №1
            <br />
            гр. Карлово, 4300
            <br />
            област Пловдив

        </p>
    </div>

</div>
