@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
	#regconteiner{
		display:flex;
		justify-content:space-evenly
	}
    .accountLogIn {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        flex: 1;
        margin-bottom: 3%;
		margin-top: 3%;
        max-width: 500px;
    }

    #regform{
        padding: 1%;
        margin-bottom: 1%;
    }

    #regform1 {
        padding: 1%;
        margin-bottom: 1%;
    }

    #regform2 {
        padding: 1%;
        margin-bottom: 1%;
    }

    #regform3 {
        padding: 1%;
        margin-bottom: 1%;
    }

    #regform4 {
        padding: 1%;
        margin-bottom: 1%;
    }

    #regform5 {
        padding: 1%;
        margin-bottom: 1%;
    }
</style>

<div id="regconteiner">
	<form class="accountLogIn" asp-route-returnUrl="@Model.ReturnUrl" method="post">
		<h2>Създай профил.</h2>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
		<div class="form-floating " id="regform">
			<input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
			<label asp-for="Input.UserName">Потребителско име</label>
			<span asp-validation-for="Input.UserName" class="text-danger"></span>
		</div>
		<div class="form-floating " id="regform1">
			<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
			<label asp-for="Input.Email">Имейл</label>
			<span asp-validation-for="Input.Email" class="text-danger"></span>
		</div>
		<div class="form-floating " id="regform2">
			<input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
			<label asp-for="Input.FirstName">Име</label>
			<span asp-validation-for="Input.FirstName" class="text-danger"></span>
		</div>
		<div class="form-floating " id="regform3">
			<input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
			<label asp-for="Input.LastName">Фамилия</label>
			<span asp-validation-for="Input.LastName" class="text-danger"></span>
		</div>
		<div class="form-floating " id="regform4">
			<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
			<label asp-for="Input.Password">Парола</label>
			<span asp-validation-for="Input.Password" class="text-danger"></span>
		</div>
		<div class="form-floating " id="regform5">
			<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
			<label asp-for="Input.ConfirmPassword">Потвърди паролата</label>
			<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
		</div>
		<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
	</form>

</div>
   


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
