<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" type="image/png" href="~/Photos/logo-last.png">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - LiteraryMaze</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/LiteraryMaze.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
	<style>
		.dropbtn {
		border-radius: 6px;
		background-color: #f5f5f5;
		color: black;
		padding: 8px;
		font-size: 16px;
		border: none;
		transition: all 0.1s ease-out;
		}

		.dropdown {
		position: relative;
		display: inline-block;
		transition: all 0.1s ease-out;
		}

		.dropdown-content {
		border-radius: 6px;
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 200px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		transition: all 0.1s ease-out;
		}

		.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		transition: all 0.1s ease-out;
		border-radius: 6px;
		}

		.dropdown-content a:hover {
		background-color: lightgray;
		transition: all 0.1s ease-out;
		}

		.dropdown:hover .dropdown-content {
		display: block;
		transition: all 0.1s ease-out;
		}

		.dropdown:hover .dropbtn {
		background-color: lightgray;
		transition: all 0.1s ease-out;
		}
	</style>
</head>

<body>

	<div class="nav-conteiner">
		<div class="conteiner">
			<div class="logo-surch-nav">
				<div class="logo-search">
					<div class="logo">
						<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Photos/logo-last.png" width="100" /></a>
					</div>
					<div class="search-bar">
						<input type="text" placeholder="Търсене..." class="search-input">
					</div>
				</div>

			</div>
			@* 				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button> *@
			<div>

				<nav class="nav-icons">
					<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Map"><img src="~/Photos/location.png" width="40" /></a>
					<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts"><img src="~/Photos/contacts.png" width="40" /></a>
					<a class="nav-link text-dark" asp-area="" asp-controller="Favorites" asp-action="Index"><img src="~/Photos/favorites.png" width="40" /></a>
					<partial name="_LoginPartial" />
					<a class="nav-link text-dark" asp-area="" asp-controller="Carts" asp-action="Index"><img src="~/Photos/cart.png" width="40" /></a>
				</nav>
			</div>
		</div>
		<div class="twoNavs">
			<nav class="main-nav">

				<ul>
					@if (User.IsInRole("Admin"))
					{
						<li>
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Begin">Начало</a>
						</li>
						<li>
							<a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Категории</a>
						</li>

						<li>
							<a class="nav-link text-dark" asp-area="" asp-controller="Promotions" asp-action="Index">Промоции</a>
						</li>
						<li>
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">За нас</a>
						</li>
						<li>
							<a class="nav-link text-dark" asp-area="" asp-controller="Publishers" asp-action="Index">Издателства</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Authors" asp-action="Index">Автори</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Книги</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Genres" asp-action="Index">Жанрове</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Поръчки</a>
						</li>
					}
					else
					{
						<li>
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Begin">Начало</a>
						</li>

						<li >
							<div class="dropdown">
								<button onclick="location.href='@Url.Action("Index", "Books")'" id="textchange" class="dropbtn">Каталог</button>
								<div class="dropdown-content">
									<a asp-area="" asp-controller="Books" asp-action="Index" asp-route-category="Българска литература">Българска литература</a>
									<a asp-area="" asp-controller="Books" asp-action="Index" asp-route-category="Чуждоезикова литература">Чуждоезикова литература</a>
									<a asp-area="" asp-controller="Books" asp-action="Index" asp-route-category="Детска литература">Детска литература</a>
								</div>
							</div>
							
						</li>
						<li>
							<a class="nav-link text-dark" asp-area="" asp-controller="Promotions" asp-action="Index">Промоции</a>
						</li>
						<li>
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">За нас</a>
						</li>
					}
				</ul>



			</nav>
			
		</div>
	</div>

	<div class="container">
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<footer>
		&copy; 2025 - LiteraryMaze - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
