
@{
    ViewData["Title"] = "OrderSuccess";
}



<h1>Благодарим ви за поръчката!</h1>
<p>Ще се свържем с вас скоро. Можете да продължите да разглеждате книги.</p>

<a asp-controller="Books" asp-action="Index" class="btn btn-primary">Продължи пазаруването</a>